@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&family=Rubik:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: "Albert Sans";
  color: #373737;
}
nav {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .firstNav {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .secondNav {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  li {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
  }
  li:hover {
    font-size: 1.3rem;
  }

  img {
    width: 20%;
  }
}
.main {
  height: 100vh;
  width: 100%;
  background-image: url("/assets/pexels-photo-4207780.jpg");
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: 10% 41%;
}
.m {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .mcont {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  p {
    font-size: 2rem;
    margin-top: 0;
    font-weight: 700;
  }
  .n {
    margin: 0;
  }
  .sh {
    font-size: 1.6rem;
    border-bottom: 2px solid #373737;
    transition: 0.3s;
    position: absolute;
    top: 65%;
    cursor: pointer;
  }
  .sh:hover {
    padding-bottom: 0.5%;
    font-size: 1.7rem;
  }
}
.about {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;

  .containerA {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .p1 {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      p {
        font-size: 4rem;
        margin-left: 5%;
        border-bottom: 2px solid #373737;
        font-weight: 700;
      }
      .im {
        width: 100%;
        height: 50%;
        display: flex;
        margin-left: 10%;
        img {
          @media (max-width: 900px) {
            width: 80%;
            height: 80%;
          }
        }
      }
    }
    .p2 {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      p {
        font-size: 2rem;
        margin-top: 10%;
        margin-left: 5%;
      }
      .obj {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;

        p {
          font-size: 2.5rem;
          margin-left: 10%;
          font-weight: 700;
        }
        ul {
          list-style: none;
          margin-left: 10%;
        }
        i {
          margin-right: 1%;
        }
        li {
          font-size: 2rem;
          margin-left: 0;
        }
      }
    }
  }
}
.new {
  width: 99vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;

  .arrival {
    width: 100%;
    height: 50%;

    p {
      font-size: 2.5rem;
      height: 20%;
      margin-left: 10%;
      font-weight: 700;
      margin-top: 5%;
    }
    .items {
      width: 100%;
      height: 60%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .item {
        width: 25%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .photo {
          width: 80%;
          height: 80%;
          display: flex;
          align-items: center;
        }
        img {
          height: 200px;
          width: 150px;
        }
        div {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: row;
          justify-content: center;

          p {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
#new-arrival-image-1 {
  background: url("/assets/pexels-karolina-grabowska-4207892.jpg");
}

#new-arrival-image-2 {
  background: url("/assets/pexels-photo-4207780.jpg");
}

#new-arrival-image-3 {
  background: url("https://images.urbanoutfitters.com/is/image/UrbanOutfitters/46818613_020_b?$xlarge$&hei=900&qlt=80&fit=constrain");
}

#new-arrival-image-4 {
  background: url("https://images.urbanoutfitters.com/is/image/UrbanOutfitters/45942638_091_b?$xlarge$&hei=900&qlt=80&fit=constrain");
}

#new-arrival-image-5 {
  background: url("https://images.urbanoutfitters.com/is/image/UrbanOutfitters/46091567_049_b?$xlarge$&hei=900&qlt=80&fit=constrain");
}

#new-arrival-image-1:hover {
  background: url("https://images.urbanoutfitters.com/is/image/UrbanOutfitters/48565584_003_e?$xlarge$&hei=900&qlt=80&fit=constrain");
}

#new-arrival-image-2:hover {
  background: url("https://images.urbanoutfitters.com/is/image/UrbanOutfitters/43708932_001_d?$xlarge$&hei=900&qlt=80&fit=constrain");
}

#new-arrival-image-3:hover {
  background: url("https://images.urbanoutfitters.com/is/image/UrbanOutfitters/46818613_020_d?$xlarge$&hei=900&qlt=80&fit=constrain");
}

#new-arrival-image-4:hover {
  background: url("https://images.urbanoutfitters.com/is/image/UrbanOutfitters/45942638_091_h?$xlarge$&hei=900&qlt=80&fit=constrain");
}

#new-arrival-image-5:hover {
  background: url("https://images.urbanoutfitters.com/is/image/UrbanOutfitters/46091567_049_f?$xlarge$&hei=900&qlt=80&fit=constrain");
}

#new-items {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display: inline-flex;
  margin: 0 0 0 3px;
}

@media (min-width: 600px) {
  #new-items {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
}

#front-page-heart {
  background: url(../../assets/img/heart.png) center no-repeat;
  background-size: 16px;
}

#front-page-heart:hover {
  background: url(../../assets/img/heart-hover.png) center no-repeat;
  background-size: 16px;
}

#product {
  width: 120px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  #product {
    width: 120px;
    margin-right: 15px;
  }
}

#new-arrival-image-1,
#new-arrival-image-1:hover,
#new-arrival-image-2,
#new-arrival-image-2:hover,
#new-arrival-image-3,
#new-arrival-image-3:hover,
#new-arrival-image-4,
#new-arrival-image-4:hover,
#new-arrival-image-5,
#new-arrival-image-5:hover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 120px;
  height: 170px;
  border-radius: 10px;
}

#new-arrival-image-1:hover,
#new-arrival-image-2:hover,
#new-arrival-image-3:hover,
#new-arrival-image-4:hover,
#new-arrival-image-5:hover {
  box-shadow: -2px 3px 10px #a6a6a6;
}

#product-description {
  margin-top: 5px;
}

@media (min-width: 900px) {
  #front-page-heart {
    width: 16px;
    height: 25px;
    background: url(../../assets/img/heart.png) center no-repeat;
    background-size: 16px;
  }

  #product {
    width: 150px;
    margin-right: 15px;
  }

  #new-arrival-image-1,
  #new-arrival-image-2,
  #new-arrival-image-3,
  #new-arrival-image-4,
  #new-arrival-image-5 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 250px;
    border-radius: 10px;
  }

  #new-arrival-image-1:hover,
  #new-arrival-image-2:hover,
  #new-arrival-image-3:hover,
  #new-arrival-image-4:hover,
  #new-arrival-image-5:hover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 250px;
    border-radius: 10px;
    box-shadow: -2px 3px 10px #a6a6a6;
  }
}

@media (min-width: 1200px) {
  #product {
    width: 200px;
    margin-right: 15px;
  }

  #new-arrival-image-1,
  #new-arrival-image-2,
  #new-arrival-image-3,
  #new-arrival-image-4,
  #new-arrival-image-5 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    border-radius: 10px;
  }

  #new-arrival-image-1:hover,
  #new-arrival-image-2:hover,
  #new-arrival-image-3:hover,
  #new-arrival-image-4:hover,
  #new-arrival-image-5:hover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: -2px 3px 10px #a6a6a6;
  }

  #front-page-price {
    margin-bottom: 0;
    font-size: 15px;
    color: #000;
    font-family: Chewy, cursive;
  }
}

#product-description-bottom,
#product-description-top {
  height: 20px;
}

#front-page-price {
  margin-bottom: 0;
  color: #000;
  font-family: "Albert Sans";
  font-size: 13px;
}

@media (min-width: 900px) {
  #product-description-top {
    height: 25px;
  }

  #front-page-price {
    font-size: 18px;
  }
}

.icon.ion-ios-circle-filled.d-flex.justify-content-center {
  font-size: 13px;
}

#variation-1-color-1 {
  color: #ef995b;
}

#variation-1-color-2 {
  color: #ef355b;
}

#variation-1-color-3,
#variation-2-color-1,
#variation-3-color-2 {
  color: #95355b;
}

#variation-2-color-2 {
  color: #f9055b;
}

#variation-2-color-3 {
  color: #31035b;
}

#variation-3-color-1 {
  color: #13355b;
}

#variation-3-color-3,
#variation-5-color-1 {
  color: #7cdf01;
}

#variation-4-color-1 {
  color: #187b01;
}

#variation-4-color-2 {
  color: #7c1601;
}

#variation-4-color-3 {
  color: #785001;
}

#variation-5-color-2 {
  color: #5e465a;
}

#variation-5-color-3 {
  color: #cc1e32;
}

#color-variations {
  margin-left: 20px;
}

@media (min-width: 900px) {
  .icon.ion-ios-circle-filled.d-flex.justify-content-center {
    font-size: 18px;
  }

  #color-variations {
    float: right;
  }
}

.text-center {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: "Titillium Web", sans-serif;
  font-size: 13px;
}

@media (min-width: 900px) {
  .text-center {
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    font-family: "Titillium Web", sans-serif;
    font-size: 17px;
  }
}

#new-arrivals,
#sale {
  margin: 15px 0 10px;
  position: relative;
  font-size: 15px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

@media (min-width: 1201px) {
  #new-arrivals,
  #sale {
    margin: 15px 0 10px;
    position: relative;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
  }
}

#new-arrivals:after,
#new-arrivals:before,
#sale:after,
#sale:before {
  position: absolute;
  overflow: hidden;
  top: 51%;
  width: 50%;
  height: 1px;
  content: "\a0";
  background-color: #000;
}

#new-arrivals:before,
#sale:before {
  margin-left: -50%;
  text-align: right;
}

a {
  text-decoration: none !important;
}

@media (max-width: 628px) {
  #view-more {
    width: 95%;
    margin-top: 10px;
    font-size: 11px;
  }
}

@media (min-width: 628px) {
  #view-more {
    width: 590px;
    margin-top: 10px;
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  #view-more {
    width: 630px;
    margin-top: 10px;
    font-size: 11px;
  }
}

@media (min-width: 900px) {
  #view-more {
    width: 805px;
    margin-top: 10px;
    font-size: 11px;
  }
}

@media (min-width: 1200px) {
  #view-more {
    width: 1060px;
    margin-top: 10px;
    font-size: 11px;
  }
}

@media (min-width: 1600px) {
  #product {
    width: 260px;
    margin-right: 15px;
  }

  #new-arrival-image-1,
  #new-arrival-image-2,
  #new-arrival-image-3,
  #new-arrival-image-4,
  #new-arrival-image-5 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 260px;
    height: 400px;
    border-radius: 10px;
  }

  #new-arrival-image-1:hover,
  #new-arrival-image-2:hover,
  #new-arrival-image-3:hover,
  #new-arrival-image-4:hover,
  #new-arrival-image-5:hover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 260px;
    height: 400px;
    border-radius: 10px;
    box-shadow: -2px 3px 10px #a6a6a6;
  }

  #view-more {
    width: 1380px;
    margin-top: 10px;
    font-size: 18px;
  }
}
